In [8]:
n = int(input('enter the number'))
for i in range(1,n+1):
    for j in range(1,i+1):
      print(j, end='')
    print()

enter the number8
1
12
123
1234
12345
123456
1234567
12345678

In [15]:
r = int(input('no of rows'))
c = int(input('no of columns'))
x=[]
val = []
for i in range(0,r):
  for j in range(0,c):
    val.insert(j,int(input("enter the %d * %d element" %(i,j))))
  x.insert(i,val)
  val=[]  
y=[]
for i in range(0,r):
  for j in range(0,c):
    val.insert(j,int(input("enter the %d * %d element" %(i,j))))
  y.insert(i,val)
  val =[]
sum = []

for i in range(0,r):
    for j in range(0,c):
        val.insert(j,x[i][j]+y[i][j])
    sum.insert(i,val)
    val = []
print(sum)

no of rows4
no of columns4
enter the 0 * 0 element1
enter the 0 * 1 element2
enter the 0 * 2 element2
enter the 0 * 3 element2
enter the 1 * 0 element2
enter the 1 * 1 element2
enter the 1 * 2 element2
enter the 1 * 3 element2
enter the 2 * 0 element2
enter the 2 * 1 element2
enter the 2 * 2 element2
enter the 2 * 3 element2
enter the 3 * 0 element2
enter the 3 * 1 element2
enter the 3 * 2 element2
enter the 3 * 3 element2
enter the 0 * 0 element2
enter the 0 * 1 element2
enter the 0 * 2 element2
enter the 0 * 3 element2
enter the 1 * 0 element2
enter the 1 * 1 element2
enter the 1 * 2 element2
enter the 1 * 3 element2
enter the 2 * 0 element2
enter the 2 * 1 element2
enter the 2 * 2 element2
enter the 2 * 3 element2
enter the 3 * 0 element2
enter the 3 * 1 element2
enter the 3 * 2 element2
enter the 3 * 3 element2
[[3, 4, 4, 4], [4, 4, 4, 4], [4, 4, 4, 4], [4, 4, 4, 4]]

i = o
while i >= 0:
  print("anil")
i + = 1

In [ ]:
i = 1 
while i <= 10 : 
    print("anil") 
i+= 1